:root{
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secundary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#fff;
    --warn-black1: #282623;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Dancing Script', cursive;
    font-family: 'Sansita Swashed', cursive;
}
/* --------------------------------<HEADER>------------------------------- */
.header_container{
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    height: 60px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin-bottom: 10px; */
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    background-color: var(--warm-black);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.66);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.66);
         
}
.header_container-cta{
    width: 100%;
    min-width: 288px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: var(--just-white);

    
}
.header_container-cta h4{
    font-size: 1.4rem;
    font-weight: normal; 
    color:var(--bitcoin-orange); 
    letter-spacing: 0.07rem;
}
.header_container-bank{
    width: 90%;
    min-width: 200px;
    max-width: 320px;
    margin: 0 auto;
    text-align: right;
    
}
.header_container-bank p{
    font-size: 1.3rem;
    letter-spacing: 0.06rem;
}
.header_container-bank p span{
    font-weight: normal;
}
.title_container{
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    background-color: var(--off-white);
}
.title_container-tittle{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    min-width: 288px;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--off-white);
    padding-top: 10px;
    
}
.title_container-tittle h1{
    text-align: center;
    font-size: 3.55rem;
    margin-bottom: 5px;
    font-family: 'Dancing Script', cursive;
}
.title_container-tittle p{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.04rem;
    
}
/* --------------------------------</HEADER>------------------------------- */
/* --------------------------------</HERO>------------------------------- */
.Hero_container{
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    height: 400px;
    text-align: center;
    background-color: var(--off-white);
}
.Hero-img{
    width: 90%;
    min-width: 288px;
}

/* --------------------------------</HERO>------------------------------- */
/* --------------------------------<ASISTENCIA>------------------------------- */
.asistencia_container{
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: var(--off-white);
}
.chat_container{
    width: 90%;
    min-width: 288px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    
} 
/* ----------chatwhasapp----------- */
.eapps-widget-toolbar {
    left:-70px !important;
    display: none !important;      
}

.Window__WindowComponent-sc-17wvysh-1{
    min-width: 300px !important ;
    width: 300px !important;
    max-width: 900px !important;
    left: -79.9px !important;
    margin-top: 45px;
}
.Close__Component-sc-1l05yq5-0{
    border: 2px solid var(--just-white);
    border-radius: 50%;
}
#eapps-whatsapp-chat-248a75b0-7177-4992-a406-58799e0a7dfd > div > div.Window__WindowComponent-sc-17wvysh-1.gBiRuo > div:nth-child(5){
    display: none !important;
}

/* --------------------------------</ASISTENCIA>------------------------------- */
/* --------------------------------<TimeDATE>------------------------------- */
.timeDate_container{
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    min-height: 150px;
    margin: 0 auto;
    margin-top: -35px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--warm-black);
    border-top-left-radius: 2.5px;
    border-top-right-radius: 2.5px;
    border-radius: 2.5px;
    
}
.timeDate_container-title{
    width: 90%;
    min-width: 288px;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.timeDate_container-title h3{
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    color: var(--bitcoin-orange);
    line-height: 1.5rem;
    margin-bottom: 5px;
}
.timeDate_container-title p{
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    color: var(--soft-orange);
}
.timeDate_description{
    width: 90%;
    min-width: 288px;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timeDate_description p{
    font-size: 1.6rem;
    color: var(--off-white);
    line-height: 2rem;
    font-weight: normal;
    letter-spacing: 0.04rem;
}

/* --------------------------------</TimeDATE>------------------------------- */
/* --------------------------------</googleMaps>------------------------------- */
.googleMaps_container{
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    background-color: var(--off-white);
}
.googleMaps_container-map{
    width: 90%;
    min-width: 288px;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: var(--off-white);
}
.googleMaps_container-map iframe{
    border-radius: 10px;
}
/* --------------------------------</googleMaps>------------------------------- */
/* --------------------------------</footer>------------------------------- */
.footer_container{
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    min-height: 100px;
    margin-top: 20px;
    background-color: var(--warm-black);
    color: var(--off-white);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.footer-description{
    width: 80%;
    min-width: 288px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5px;
    
}
.footer-description p{
    font-size: 1.6rem;
    letter-spacing: 0.09rem;
}
.footer-rs{
    width: 80%;
    min-width: 288px;
    max-width: 500px;
    min-height: 143px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}
.footer-rs span{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 2rem;
    margin-bottom: 5.5px;
    letter-spacing: 0.06rem;
}
.footer-rs .facebook{
    background-image: url(./assets/rs2/facelogo2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display:block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    margin: 0;
}
.footer-rs .instagram{
    background-image: url(./assets/rs2/instalogo3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display:block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    align-items:flex-start;
}

.rs-gloria{
    margin-bottom: 10px;
}

/* --------------------------------</footer>------------------------------- */