:root{
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secundary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#fff;
    --warn-black1: #282623;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
/* --------------------------------<HEADER>------------------------------- */
.header_container{
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    height: 150px;
    margin: 0 auto;
     position: relative;
     display: flex;
     flex-direction: column;
     text-align: center;
}
.header_container-cta{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.header_container-cta h4{
    font-size: 1.4rem;
    font-weight: normal;  
}
.header_container-bank{
    width: 90%;
    min-width: 200px;
    max-width: 320px;
    margin: 0 auto;
    text-align: right;
}
.header_container-bank p{
    font-size: 1.3rem;
}
.header_container-bank p span{
    font-weight: bold ;
}
.header_container-tittle{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    min-width: 288px;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header_container-tittle h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5px;
}
.header_container-tittle p{
    font-size: 1.5rem;
    font-weight: bold;
}
/* --------------------------------</HEADER>------------------------------- */
/* --------------------------------<ASISTENCIA>------------------------------- */
.asistencia_container{
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.chat_container{
    width: 90%;
    min-width: 288px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    
}

.Window__WindowComponent-sc-17wvysh-1{
    min-width: 300px !important ;
    width: 320px !important;
    left: -89.9px;
    margin-top: 45px;
}
#eapps-whatsapp-chat-248a75b0-7177-4992-a406-58799e0a7dfd > div > div.Window__WindowComponent-sc-17wvysh-1.jmOKNn > div:nth-child(5){
    display: none !important;
}
.eapps-widget-toolbar{
    display: none;
}

/* --------------------------------</ASISTENCIA>------------------------------- */
/* --------------------------------<TimeDATE>------------------------------- */
.timeDate_container{
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    min-height: 150px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--warm-black);
    
}
.timeDate_container-title{
    width: 90%;
    min-width: 288px;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.timeDate_container-title h3{
    font-size: 2.2rem;
    color: var(--bitcoin-orange);
    line-height: 1.5rem;
    margin-bottom: 5px;
}
.timeDate_container-title p{
    font-size: 1.5rem;
    color: var(--soft-orange);
}
.timeDate_description{
    width: 90%;
    min-width: 288px;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timeDate_description p{
    font-size: 1.6rem;
    color: var(--off-white);
    line-height: 2rem;
    font-weight: normal;
}

/* --------------------------------</TimeDATE>------------------------------- */
/* --------------------------------</googleMaps>------------------------------- */
.googleMaps_container{
    position: relative;
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
}
.googleMaps_container-map{
    width: 90%;
    min-width: 288px;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
/* --------------------------------</googleMaps>------------------------------- */